.meeting-room {
    background-color: #f8f9fa;
    padding: 10px;
    margin: 20px 0;
    border-radius: 15px;
}

.meeting-room h2 {
    color: #0095DA;
    margin-bottom: 15px;
    font-weight: 500;
    text-align: left;
    margin-left: 10px;
}

.booking-card {
    background-color: #fff;
    padding: 15px;
    margin: 15px 0;
    border-radius: 13px;
}

.booking-container :hover {
    background-color: #f8f9fa;
    cursor: pointer;
}

.booking-info {
    margin-bottom: 15px;
    font-weight: 500;
}

.icon-time-container {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.icon {
    margin-right: 4px;
}

.icon-text-container-person {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    color: #868e96;
    font-weight: 400;
}