.form-container {
    position: relative; /* Добавим относительное позиционирование */
    box-sizing: border-box;
    background: white;
    padding: 10px;
    border-radius: 13px;
    font-family: 'Geologica', sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
}

/* Добавим стили для кнопки закрытия */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
    color: #0095DA;
}

.login-in-form-button-container {
    display: flex;
    justify-content: center;
}

.registration-in-form-container {
    display: flex;
    margin-top: 20px;
    padding: 10px;
    color: #868e96;
    justify-content: space-around;
}

.login-icon {
    color: #0095DA;
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
}

.login-button-in-form {
    background: none;
    border: none;
    font-family: 'Geologica', sans-serif;
    font-weight: 400;
    font-size: 16px;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.passkey-in-form-button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.passkey-button-in-form {
    background: none;
    border: none;
    font-family: 'Geologica', sans-serif;
    font-weight: 400;
    font-size: 16px;
    align-items: center;
    display: flex;
    cursor: pointer;
    color: black;
}

.passkey {
    font-size: 22px;
    margin-right: 10px;
    color: black;
}

.form-container h2 {
    text-align: center;
    font-weight: 900;
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
}

label {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
}

input {
    width: 100%;
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-family: 'Geologica', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    border: 1px solid #333333;
    box-shadow: none;
}

.registration-in-form-container p {
    text-align: center;
}