
.new-booking-block-window {
    background: white;
    width: 600px;
    height: 500px;
    border-radius: 14px;
    position: relative;
    top: 250px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.new-booking-block-window-container {
    /*background: green;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    width: 90%;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.new-booking-buttons-container{
    /*background: red;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    height: 5%;
    width: 95%;
    bottom:50px
}

.new-booking-buttons-cancel{
    margin-right: 15px;
    background: none;
    border:none;
    box-shadow: 0 0 1.5px rgb(0,0,0, 0.8);
    border-radius: 10px;
}


.new-booking-buttons-accept {
    background: none;
    border: none;
    box-shadow: 0 0 1.5px rgb(0, 0, 0, 0.8);
    border-radius: 10px;

}

.new-booking-buttons-cancel:hover{
    background: rgba(0,0,0,15%);
}

.new-booking-buttons-accept:hover{
    background: rgba(0,0,0,15%);
}