.new-booking-block-window-container {
    position: relative;
    box-sizing: border-box;
    background: white;
    padding: 10px;
    border-radius: 13px;
    font-family: 'Geologica', sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    overflow: auto;
}

.new-booking-block-window-container h2 {
    text-align: center;
    font-weight: 900;
    font-size: 20px;
}

.new-booking-datetime-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}

.new-booking-datetime-element {
    width: 30%;
}

@media (max-width: 690px) {
    .new-booking-datetime-container {
        flex-direction: column;
    }
    .new-booking-datetime-element {
        width: 100%;
    }
}


.new-booking-form-datetime-element-label {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    height: 4em;
}

.new-booking-form-label {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
}

.new-booking-form-textarea {
    width: 100%;
    height: 5em;
    border-radius: 10px;
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-family: 'Geologica', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    border: 1px solid rgba(175, 175, 175, 0.5);
    box-shadow: none;
    resize: none;
}

.new-booking-form-textarea:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid rgba(175, 175, 175, 0.5);
}


.new-booking-buttons-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.new-booking-buttons-cancel,
.new-booking-buttons-accept {
    background: none;
    border: none;
    font-family: 'Geologica', sans-serif;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

.new-booking-buttons-cancel {
    color: #0095DA;
}

.new-booking-buttons-accept {
    color: black;
}
