.info-message-container {
    position: fixed;
    margin-top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    /*animation-name: slideIn;*/
    /*animation-duration: 0.3s;*/
    /*animation-timing-function: ease-in-out;*/
    z-index: 9999;
}

.info-message {
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    background-color: #e54f4f;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    /*animation-name: fadeIn;*/
    /*animation-duration: 0.3s;*/
    /*animation-timing-function: ease-in-out;*/
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}