.App {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.App h1 {
  color: #333;
  text-align: center;
}

input{
  padding: 5px;
  box-shadow: 0 0 3px rgb(0,0,0, 0.5);
  border-radius: 20px;
  font-size: 16px;
  outline: none;
  border: none;
  text-align: center;
}