/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Scada:wght@400;700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@200;400;500;900&display=swap');

.App {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  /*font-family: 'Roboto', sans-serif;*/
  /*font-family: 'PT Sans Caption', sans-serif;*/
  /*font-family: 'Scada', sans-serif;*/
  font-family: 'Geologica', sans-serif;
  /*height: 100vh;*/
}

div {
  font-family: 'Geologica', sans-serif;
  font-weight: 400;
}

.App h1 {
  color: #333;
  text-align: center;
  font-weight: 900;
}

.material-icons {
  font-family: 'Material Icons', serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  margin-right: 5px;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.dfds {
  display: flex;
  align-items: center;
  /*box-shadow: 0 0 2px rgb(0, 0, 0, 0.8);*/
  border-radius: 20px;
  width: 25px;
  height: 25px;
  font-weight: bold;
  background: none;
  outline: none;
  border: none;
  text-align: center;
  cursor: pointer;
}

.arrow {
  margin: 0;
  color: #0095DA;
  font-weight: bold;
}

.add-booking-button {
  cursor: pointer;
}

.add_circle {
  font-size: 20px;
  margin-right: 10px;
  color: #0095DA;
  margin-bottom: 1px;
}

.new-booking-background-block{
  position: fixed;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
  z-index: 1;
  animation: toGray 0.3s ease forwards;
}

.Info{
  position: fixed;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
  z-index: 1;
  animation: toGray 0.3s ease forwards reverse;
}

.control-panel-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 680px) {
  .control-panel-container {
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
  }

  .new-booking-button-container {
    margin-top: 20px;
  }
}

.date-container-main{
  display: flex;
  justify-content: space-between;
  width: max-content;
  align-items: center;
}

.date-container-text{
  width: 210px;
  cursor: pointer;
  text-align: center;
  position: relative;
  margin-top: 1px;
  font-weight: 500;
}

.new-booking-button-container{
  background: none;
  border: none ;
  font-family: 'Geologica', sans-serif;
  font-weight: 500;
  font-size: 16px;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.login-button-container {
  display: flex;
}

.account_circle {
  font-size: 20px;
  margin-right: 10px;
  color: #0095DA;
  margin-bottom: 1px;
}

.login-button {
  background: none;
  border: none ;
  font-family: 'Geologica', sans-serif;
  font-weight: 500;
  font-size: 16px;
  align-items: center;
  display: flex;
  cursor: pointer;
}


.Info.state1{
  animation: toGray 0.3s ease forwards ;
}

.Info.state2{
  animation: toGray-reverse 0.4s ease forwards;
}

@keyframes toGray {
  from {
    background: rgba(0,0,0,0);
  }
  to{
    background: rgba(0,0,0,60%);
  }
}

@keyframes toGray-reverse {
  from {
    background: rgba(0,0,0,60%);

  }
  to{
    background: rgba(0,0,0,0);

  }
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  backdrop-filter: blur(10px);
}

.new-booking-content {
  width: 80%;
  max-width: 800px;
}