body, input {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input,
select {
  width: 100%;
  margin-top: 5px;
  border: 1px solid rgba(175, 175, 175, 0.5);
  margin-bottom: 10px;
  box-sizing: border-box;
  font-family: 'Geologica', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  box-shadow: none;
  padding: 10px 10px 10px 15px;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 10px;
}

input:focus,
select:focus {
  box-shadow: none;
  outline: none;
  border: 1px solid rgba(175, 175, 175, 0.5);
}

option {
  text-align: left;
}

